/*------Catalog-style------*/
@use "../common/variables";

.main-catalog {
  padding-top: 27px;
}

.main-catalog__title {
  margin-bottom: 40px;
  text-align: center;
  width: 100%;
}


.product-catalog__list {
  display: grid;
}

.product-catalog__list-item {
  border-top: 1px solid #EBEBEB;
}

.card-product {
  padding: 20px 0px 25px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "image title"
  "image table"
  "button button";
  row-gap: 17px;
  justify-content: center;
}

.card-product__link-image {
  grid-area: image;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-product__content {
  grid-area: table;
  color:#444444;
  text-align: center;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.card-product__item-row {

}
.card-product__title {
  grid-area: title;
  display: block;
  width: 76px;
  color: #222222;
  font-family: $font-base;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;

}

.card-product__property {
  text-align: left;
}
.card-product__value {
  text-align: right;
}
.card-product__link-button {
  grid-area: button;
}
.button-link {}
.product-more {
  border-bottom: 1px solid #EBEBEB;
  padding: 25px 0 25px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../img/icons/catalog/plus-mobile.svg") no-repeat center 25px ;
}
.product-more__text--title {
  padding-top: 60px;
  color: #111111;
  font-family: $font-base;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.product-more__text {
  color: #444444;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 21px;
}

.card-product__link-more{
  color: #444444;
  background-color: #F2F2F2;

}
